* {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
textarea,
select,
button {
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
  line-height: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #eee;
}

/* Ex-01 */

.menu {
  padding: 0 40px;
  background-color: #3e5cca;
  text-align: center;
  font-size: 0;
}

.menu li {
  display: inline-block;
}

.menu li a {
  display: inline-block;
  text-decoration: none;
  padding: 30px 30px;
  font-size: 2rem;
  line-height: 2rem;
  color: #fff;
  vertical-align: middle;
}

.menu li a:hover {
  background-color: #fff;
  color: #000;
}
.menu li.active a {
  background-color: #fff;
  color: #000;
}
.menu li a:active {
  background-color: #ccc;
  color: #4a608d;
}
.menu li:last-child::after {
  content: none;
}

.menu li::after {
  vertical-align: middle;
  content: "";
  display: inline-block;
  height: 80px;
  border-left: 1px solid #000000;
}

.menu li a::before {
  padding: 0 10px;
  content: "\25B6";
  font-size: 2rem;
}

/* Ex-02 */
.form-register {
  background-color: #fff;
  max-width: 400px;
  margin: 36px auto 0;
  padding: 24px;
  border-radius: 10px;
  border: 1px solid transparent;
}

.form-register header {
  text-align: center;
  margin-bottom: 24px;
}

.form-register header h1 {
  font-size: 2.6rem;
  line-height: 2.6rem;
  font-weight: bold;
  text-transform: uppercase;
}

.form-register:focus-within {
  border: 1px solid #3e5cca80;
}

.form-group {
  margin-bottom: 16px;
}

.form-label {
  display: block;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.form-label.required::after {
  content: "*";
  color: red;
  margin-left: 4px;
}

.form-input {
  width: 100%;
  padding: 8px 12px;
  font-size: 1.4rem;
  line-height: 1.4rem;
  border: 1px solid #666;
  border-radius: 10px;
}

.form-input:focus {
  outline: none;
  border-color: #3e5cca;
  box-shadow: 0 0 5px #3e5cca80;
}

.form-input:invalid:not(:placeholder-shown) {
  border-color: red;
}

.avatar-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
}

.checkbox-group label {
  display: block;
  font-size: 1.4rem;
  line-height: 1.4rem;
  margin-bottom: 12px;
}

.checkbox-group input {
  margin-right: 8px;
}

input[type="radio"],
input[type="checkbox"] {
  vertical-align: middle;
  margin-top: -2px;
  cursor: pointer;
}
.form-group label:not(.form-label) {
  margin-right: 20px;
  font-size: 1.4rem;
  line-height: 1.4rem;
}

.checkbox-group label,
.form-group label:not(.form-label) {
  cursor: pointer;
}

.form-submit {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #3e5cca;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.form-submit:hover {
  background-color: #2d47a3;
}

.form-submit:active {
  background-color: #1a2c75;
}
