* {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
textarea,
select,
button {
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
  line-height: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #e9e9e9;
}
.wrap-cv {
  display: flex;
  max-width: 1000px;
  margin: 20px auto;
  background-color: #fff;
  min-height: 100vh;
}

.information {
  flex: 0 0 300px;
  border-right: 2px solid #000;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information img {
  width: 250px;
  height: 250px;
  display: block;
  border-radius: 50%;
  margin-bottom: 20px;
}

.information .name {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.information .contact {
  align-self: flex-start;
  font-size: 1.6rem;
  line-height: 1.6;
}

.information .contact a {
  color: #000;
  text-decoration: none;
}

.information .contact ul {
  margin-bottom: 20px;
}

.information .contact li {
  margin-bottom: 8px;
}

.career-goals {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.hobby {
  align-self: flex-start;
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.hobby ul {
  list-style-type: disc;
  margin-left: 20px;
}

.hobby li {
  margin-bottom: 6px;
}

.form-cv {
  background-color: #fff;
  padding: 20px 40px;
  flex-grow: 1;
}
.cv-section h2 {
  font-size: 2rem;
  line-height: 1.4;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 2px solid #000;
  padding-bottom: 8px;
  margin-bottom: 16px;
}

.job-item {
  margin-bottom: 20px;
}

.job-header {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  line-height: 1.4;
  font-weight: bold;
  margin-bottom: 16px;
}

.description-job ul {
  list-style-type: disc;
  margin-left: 20px;
}

.description-job li {
  font-size: 1.4rem;
  line-height: 1.6;
  margin-bottom: 6px;
}

.education {
  margin-bottom: 40px;
  font-size: 1.4rem;
}
.education b {
  font-weight: bold;
}

/* Ex-02 */

.pricing-container {
  height: 100vh;
  max-width: 950px;
  margin: 36px auto;
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.pricing-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 500px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 0 10px #00000020;
  padding: 24px;
  transition: all 0.3s ease-in-out;
}
.pricing-card:nth-child(2) {
  border-radius: 12px;
  border: 3px solid #69cc80;
  background-color: #fff;
}

.pricing-card:hover {
  transform: scale(1.05);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.plan-name {
  font-size: 2.4rem;
  line-height: 2.4rem;
  font-weight: 600;
  margin-bottom: 12px;
}

.pricing-card:nth-child(2) .plan-name {
  display: inline-block;
  vertical-align: middle;
}

.badge-save {
  margin-left: 8px;
  font-size: 1.2rem;
  line-height: 1.2rem;
  border-radius: 10px;
  background-color: #ccc;
  padding: 4px 8px;
  display: inline-block;
  color: #3c7048;
  background-color: #d8e6d3;
}

.plan-desc {
  font-size: 1.4rem;
  line-height: 1.4rem;
  margin-bottom: 24px;
  text-align: center;
}

.price-box {
  font-size: 2.8rem;
  line-height: 2.8rem;
  font-weight: bold;
  margin-bottom: 6px;
}
.price-box .original-price {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: normal;
  color: #666;
  text-decoration: line-through;
  margin-left: 12px;
}

.price-box::before {
  content: "$";
  font-size: 1.6rem;
  line-height: 1.6rem;
  margin-right: 2px;
}

.billing-text {
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: #666;
  margin-bottom: 20px;
}

.btn-action {
  width: 100%;
  padding: 12px 6px;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: bold;
  margin-bottom: 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #4c9c62;
  color: #d5f6e2;
}

.btn-action:hover {
  background-color: #3c7d4b;
}

.btn-action:active {
  background-color: #2a5233;
}

.pricing-card:first-child .btn-action {
  background-color: #eee;
  color: #333;
}

.features-list {
  font-size: 1.4rem;
  line-height: 1.4rem;
}

.features-list li {
  margin-bottom: 8px;
}

.features-list li::before {
  content: "✓";
  color: green;
  margin-right: 8px;
}

/* Ex-03 */

.wrap-products {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1200px;
  margin: 40px auto;
}

.item {
  width: calc((100% - 60px) / 3);
  background: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #00000020;
  transition: all 0.3s ease-in-out;
}

.item:hover {
  transform: scale(1.05);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  display: block;
  margin-bottom: 10px;
}

.item-name {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.item .price-box {
  margin-bottom: 20px;
}

.item .btn-action {
  margin-top: auto;
}

/* Ex-04 */

.wrap-register {
  display: flex;
  max-width: 900px;
  margin: 36px auto;
  box-shadow: 0 0 10px #00000020;
}

.wrap-register .left-side {
  flex: 1;
  background-color: #fff;
  border-radius: 10px;
}

.wrap-register .left-side img {
  width: 100%;
  border-radius: 10px;
  display: block;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.wrap-register .right-side {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

}

.form-register {
  width: 100%;
  background-color: #fff;
  padding: 24px;
  border-radius: 10px;
  border: 1px solid transparent;
}

.form-register header {
  text-align: center;
  margin-bottom: 24px;
}

.form-register header h1 {
  font-size: 2.6rem;
  line-height: 2.6rem;
  font-weight: bold;
  text-transform: uppercase;
}

/* .form-register:focus-within {
  border: 1px solid #3e5cca80;
} */

.form-group {
  margin-bottom: 16px;
}

.form-label {
  display: block;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.form-label.required::after {
  content: "*";
  color: red;
  margin-left: 4px;
}

.form-input {
  width: 100%;
  padding: 8px 12px;
  font-size: 1.4rem;
  line-height: 1.4rem;
  border: 1px solid #666;
  border-radius: 10px;
}

.form-input:focus {
  outline: none;
  border-color: #3e5cca;
  box-shadow: 0 0 5px #3e5cca80;
}

.form-input:invalid:not(:placeholder-shown) {
  border-color: red;
}

.avatar-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
}

.checkbox-group label {
  display: block;
  font-size: 1.4rem;
  line-height: 1.4rem;
  margin-bottom: 12px;
}

.checkbox-group input {
  margin-right: 8px;
}

input[type="radio"],
input[type="checkbox"] {
  vertical-align: middle;
  margin-top: -2px;
  cursor: pointer;
}
.form-group label:not(.form-label) {
  margin-right: 20px;
  font-size: 1.4rem;
  line-height: 1.4rem;
}

.checkbox-group label,
.form-group label:not(.form-label) {
  cursor: pointer;
}

.form-submit {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #3e5cca;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.form-submit:hover {
  background-color: #2d47a3;
}

.form-submit:active {
  background-color: #1a2c75;
}
