* {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
textarea,
select,
button {
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
  line-height: inherit;
}

.flex {
  text-align: center;
}

.header{
  background-color: #3e5cca;
  color: #fff;
  padding: 30px 0;
  font-size: 2.4rem;
  margin-bottom: 20px;
}

.content {
  display: flex;
  gap: 20px;

  margin-bottom: 20px;
  justify-content: center;
}

.article{
  background-color: #b48b8b;
  flex: 1;
}

.text{
  flex: 1;
  padding: 20px;
  font-size: 1.8rem;
  background-color: #e42828;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.text1{
  background-color: #3e5cca;
  flex: 1;
}

.text2{
  background-color: #f0ad4e;
  flex: 1;
}